---
const CERTIFICATES = [
  {
    img: "/projects/Crea una PWA de Detección de Objetos con Angular 19 y TensorFlow.js.webp",
    title: "Crea una PWA de Detección de Objetos con Angular 19 y TensorFlow.js",
    logo: "/logos/Midudev.webp",
    empresa: "Midudev",
    fecha: "Octubre 2025",
    link: "https://certificados.midudev.com/e92c2ba4-c5ff-4f05-b881-5429dd9c4065.pdf",
  },
  {
    img: "/projects/Curso de Desarrollo con IA.webp",
    title: "Curso de Desarrollo con IA",
    logo: "/logos/BIG school.webp",
    empresa: "BIG school",
    fecha: "Octubre 2025",
    link: "https://drive.google.com/file/d/1DGn-qw0K4B5t0NVu3kiGq--FtBo9smo_/view",
  },
  {
    img: "/projects/Curso de Tailwind desde Cero.webp",
    title: "Curso de Tailwind desde Cero",
    logo: "/logos/Midudev.webp",
    empresa: "Midudev",
    fecha: "Junio 2025",
    link: "https://certificados.midudev.com/62fd661e-6253-4b62-8c0a-fb8524e4d956.pdf",
  },
  {
    img: "/projects/Conceptos básicos de IA.webp",
    title: "Conceptos básicos de IAt",
    logo: "/logos/Microsoft.webp",
    empresa: "Microsoft",
    fecha: "Junio 2025",
    link: "https://www.linkedin.com/in/kevin-andr%C3%A9s-soto-brice%C3%B1o-833a8a31b/details/certifications/1748801717301/single-media-viewer/?profileId=ACoAAFEjuCcBWJ-kLVnKiXYQ49dBdR6qlLyOGrA",
  },
  {
    img: "/projects/IA responsable con GitHub Copilot.webp",
    title: "IA responsable con GitHub Copilot",
    logo: "/logos/Microsoft.webp",
    empresa: "Microsoft",
    fecha: "Mayo 2025",
    link: "https://www.linkedin.com/in/kevin-andr%C3%A9s-soto-brice%C3%B1o-833a8a31b/details/certifications/1748629800536/single-media-viewer/?profileId=ACoAAFEjuCcBWJ-kLVnKiXYQ49dBdR6qlLyOGrA",
  },
  {
    img: "/projects/Crea tu propia aplicación con Inteligencia Artificial.webp",
    title: "Crea tu propia aplicación con Inteligencia Artificial",
    logo: "/logos/Nuclio.webp",
    empresa: "Nuclio",
    fecha: "Mayo 2025",
    link: "https://www.linkedin.com/in/kevin-andr%C3%A9s-soto-brice%C3%B1o-833a8a31b/details/certifications/1748533921217/single-media-viewer/?profileId=ACoAAFEjuCcBWJ-kLVnKiXYQ49dBdR6qlLyOGrA",
  },
  {
    img: "/projects/Aprende lo último de JavaScript (ES2023 & ES2024).webp",
    title: "Aprende lo último de JavaScript (ES2023 & ES2024)",
    logo: "/logos/Midudev.webp",
    empresa: "Midudev",
    fecha: "Mayo 2025",
    link: "https://certificados.midudev.com/22153cfb-a492-466b-8d2b-81f4e6c3089c.pdf",
  },
  {
    img: "/projects/Curso Intensivo de Model Context Protocol.webp",
    title: "Curso Intensivo de Model Context Protocol",
    logo: "/logos/Midudev.webp",
    empresa: "Midudev",
    fecha: "Mayo 2025",
    link: "https://certificados.midudev.com/18bcc700-8230-419d-914e-2ae0cee308f6.pdf",
  },
  {
    img: "/projects/Análisis forense básico en sistemas Windows.webp",
    title: "Análisis forense básico en sistemas Windows",
    logo: "/logos/OpenWebinars.webp",
    empresa: "OpenWebinars",
    fecha: "Marzo 2025",
    link: "https://openwebinars.net/cert/e47b",
  },
];
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-x-6">
{
  CERTIFICATES.map(({ img, title, logo, empresa, fecha, link }) => (
    <div class="max-w-xl bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 mb-10">
      <a href={link} target="_blank" rel="noopener">
        <img class="rounded-t-lg" src={img} alt="" />
      </a>
      <div class="p-5">
        <h5 class="mb-2 text-xl md:text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          {title}
        </h5>

        <div class="flex items-center mb-3 gap-x-2">
          <img
            class="size-8  md:size-10"
            src={logo}
            alt="Kevin Andrés Soto Briceño"
          />
          <p class="font-normal text-gray-800 dark:text-gray-300">
            Empresa Emisora: {empresa}
          </p>
        </div>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-sm">
          Fecha de expedicion: {fecha}
        </p>
        <a
          href={link}
          target="_blank" rel="noopener"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Ver Certificado
          <svg
            class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </a>
      </div>
    </div>
  ))
}
</div>
