---
import NextJS from "./icons/NextJS.astro";
import React from "./icons/React.astro";
import TypeScript from "./icons/TypeScript.astro";
import Tailwind from "./icons/Tailwind.astro";
import HTML from "./icons/HTML.astro";
import CSS from "./icons/CSS.astro";
import JavaScript from "./icons/JavaScript.astro";
import PHP from "./icons/PHP.astro";
import Github from "./icons/Github.astro";
import CSharp from "./icons/CSharp.astro";
import Url from "./icons/Url.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    color: "bg-black text-white",
    icon: NextJS,
  },
  REACT: {
    name: "React",
    color: "bg-[#61DAFB]/50 text-white",
    icon: React,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    color: "bg-[#3178C6]/70 text-white",
    icon: TypeScript,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    color: "bg-[#003159]/70 text-white",
    icon: Tailwind,
  },
  HTML: {
    name: "HTML",
    color: "bg-[#E34F26]/70 text-white",
    icon: HTML,
  },
  CSS: {
    name: "CSS",
    color: "bg-[#1572B6]/70 text-white",
    icon: CSS,
  },
  JS: {
    name: "JavaScript",
    color: "bg-[#F7DF1E]/90 text-black",
    icon: JavaScript,
  },
  PHP: {
    name: "PHP",
    color: "bg-[#777BB4]/70 text-white",
    icon: PHP,
  },
  CSharp: {
    name: "C#",
    color: "bg-[#68217A]/70 text-white",
    icon: CSharp,
  },
};

const PROJECTS = [
  {
    title:
      "TypeScript Links - Repositorio de recursos, ejemplos y ejercicios prácticos enfocados en el aprendizaje y uso de TypeScript.",
    description:
      "Una aplicación web moderna para gestionar y compartir enlaces importantes sobre TypeScript, incluyendo recursos, ejemplos y ejercicios prácticos.",
    link: "https://type-script-links.vercel.app/",
    github: "https://github.com/KevinSoto9/TypeScript-links",
    image: "/projects/TypeScriptLinks.webp",
    tags: [TAGS.HTML, TAGS.TAILWIND],
  },
  {
    title:
      "Como Usar Volatilty3 - Una aplicación web interactiva para aprender a usar Volatility3",
    description:
      "Una aplicación web interactiva para aprender a usar Volatility3, la herramienta de análisis forense de memoria.",
    link: "https://como-usar-volatility.vercel.app/",
    github: "https://github.com/KevinSoto9/ComoUsarVolatility",
    image: "/projects/Volatility.webp",
    tags: [TAGS.NEXT, TAGS.TYPESCRIPT, TAGS.REACT, TAGS.TAILWIND],
  },
  {
    title: "Batman Wiki - Una wiki interactiva sobre el universo de Batman",
    description:
      "Una wiki interactiva sobre el universo de Batman, recupera información y muestra imágenes de los personajes, lugares y eventos más importantes de Gotham.",
    link: "https://batman-wiki.vercel.app/",
    github: "https://github.com/KevinSoto9/BatmanWiki",
    image: "/projects/BatmanWiki.webp",
    tags: [TAGS.TYPESCRIPT, TAGS.REACT, TAGS.TAILWIND],
  },
];
---

{
  PROJECTS.map(({ title, description, link, github, image, tags }) => (
    <article class="mb-28">
      <h3 class="text-xl md:text-2xl font-semibold text-blue-200/90 mb-3">
        {title}
      </h3>
      <p class="text-base md:text-lg mb-5 text-pretty">{description}</p>
      <ul class="flex gap-4 md:gap-x-4 flex-wrap md:flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full border border-white/50 text-xs ${tag.color} py-1 px-2`}
            >
              <tag.icon class="size-4 " />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded-lg shadow-2xl shadow-white/20 mt-6 mb-6"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
      <ul class="flex gap-4 md:gap-x-4 flex-wrap md:flex-row mt-4">
        <li>
          <span
            class={`flex gap-x-3 rounded-2xl border border-white/50 text-lg py-1.5 px-4 bg-gray-800/90 text-white`}
          >
            <a target="_blank" class="flex items-center gap-x-3" href={github}>
              <Github class="size-5" />
              Codigo
            </a>
          </span>
        </li>
        <li>
          <span
            class={`flex items-center gap-x-3 rounded-2xl border border-white/50 text-lg py-1.5 px-4 bg-gray-800/90 text-white`}
          >
            <a target="_blank" class="flex items-center gap-x-3" href={link}>
              <Url class="size-5" />
              Preview
            </a>
          </span>
        </li>
      </ul>
    </article>
  ))
}
