---
import NextJS from "./icons/NextJS.astro";
import React from "./icons/React.astro"; 
import TypeScript from "./icons/TypeScript.astro";
import Tailwind from "./icons/Tailwind.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    color: "bg-black text-white",
    icon : NextJS,
  },
  REACT: {
    name: "React",
    color: "bg-[#61DAFB]/50 text-white",
    icon: React,
    },
    TYPESCRIPT: {
    name: "TypeScript",
    color: "bg-[#3178C6]/70 text-white",
    icon: TypeScript,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    color: "bg-[#003159] text-white",
    icon: Tailwind,
  },
};

const PROJECTS = [
  {
    title:
      "Como Usar Volatilty3 - Una aplicación web interactiva para aprender a usar Volatility3",
    description:
      "Una aplicación web interactiva para aprender a usar Volatility3, la herramienta de análisis forense de memoria.",
    link: "https://como-usar-volatility.vercel.app/",
    github: "https://github.com/KevinSoto9/ComoUsarVolatility",
    image: "/projects/Volatility.webp",
    tags: [TAGS.NEXT, TAGS.TYPESCRIPT, TAGS.REACT, TAGS.TAILWIND],
  },
  {
    title: "Batman Wiki - Una wiki interactiva sobre el universo de Batman",
    description:
      "Una wiki interactiva sobre el universo de Batman, recupera información y muestra imágenes de los personajes, lugares y eventos más importantes de Gotham.",
    link: "https://batman-wiki.vercel.app/",
    github: "https://github.com/KevinSoto9/BatmanWiki",
    image: "/projects/BatmanWiki.webp",
    tags: [TAGS.TYPESCRIPT, TAGS.REACT, TAGS.TAILWIND],
  },
];
---

{
  PROJECTS.map(({ title, description, link, github, image, tags }) => (
    <article>
      <h3 class="text-2xl font-semibold text-blue-200/90 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-4 flex-row">
        {tags.map((tag) => (
          <li>
            <span class={`flex gap-x-2 rounded-full text-xs ${tag.color} py-1 px-2`}>
            <tag.icon class="size-4"></tag.icon>
            {tag.name}
          </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded-lg shadow-2xl shadow-white/10"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
